<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>basicblog</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="/javascripts/jquery/jquery/dist/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/jcarousel/lib/jquery.jcarousel.pack.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/plugins/query/jquery.query-2.0.0.js"></script>
    <link rel="stylesheet" type="text/css" href="/javascripts/jcarousel/lib/jquery.jcarousel.css" />
    <link rel="stylesheet" type="text/css" href="/javascripts/jcarousel/skins/tango/skin.css" />
    <script src="/javascripts/basicblog.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/basicblog.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="stylesheets/blueprint/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="stylesheets/blueprint/blueprint/print.css" type="text/css" media="print" /> 
    <!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/blueprint/ie.css" type="text/css" media="screen, 
       projection" /><![endif]-->
  </head>
  <body>
    <%= catch_content :for_layout %>
  </body>
</html>