#months
  - months.each do |name,month|
    = link_to(name, url(:controller => "posts", :action => :month_of , :month => month))
#posts
  - @posts.each do |p|
    .post 
      .title= p.title
      .date= p.created_at.strftime("%m/%y") if p.created_at
      .post_body= textilized(p)
    %hr